.enterprise{
  .section-wrap{
    display: flex;
    height: 100%;
    .section-wrap-l{
      min-width: 250px;
      border-right: 1px solid #d3d3d3;
      padding: 20px;
      height: 100%;
      background: #f7f7f7;
      overflow-y: auto;
    }
    .section-wrap-r{
      flex: 1;
      padding: 0px;
      width: 100%;
      height: 100%;
    }
  }
}
